<form>
    <div class="form-group">
        <label>Email</label>
	{{input type="text" class="form-control" id=Email placeholder="yyyy@zzz.com"}}
    </div>
    <div class="form-group">
	<label>Comment</label>
	{{textarea class="form-control" id=comment placeholder="Leave your comment."}}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
